body {
	background-image: url("../img/background.jpg");
	margin: 10px 0;
}

header {
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
}

header img {
	float: left;
}

header nav ul li {
	list-style: none;
	margin-right: 10px;
	float: right;
}

/* Content */

.container {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
	margin-top: 20px;
	padding: 20px;
}

h1{
	background-color: white;
	padding: 15px 20px;
	
}

article {
	background-color: white;
	padding: 15px 20px;
	margin: 2px;
}

/* Footer */

footer {
	background-color: black;
	padding: 1px;
}

h5 {
	color: white;
	text-align: center;
}